spring:
  profiles:
    active: local
    group:
      local: db-local
      server: db-server
    include:
      - db
      - oauth
      - s3
      - jwt

  datasource:
    driver-class-name: ${DATABASE_DRIVER}
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: ${JPA_HIBERNATE_DDL_AUTO}

  #새로운 oauth2.0
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_SECRET}
            redirect-uri: ${BASE_URL}/login/oauth2/code/google    # 인증 완료 후 인가 코드를 받을 URI
            authorization-grant-type: authorization_code
            scope: profile, email    # 인가 후 받아올 사용자 정보 범위
            client-name: google

          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            redirect-uri: ${BASE_URL}/login/oauth2/code/kako
            client-authentication-method: POST
            authorization-grant-type: authorization_code
            scope: profile_nickname, profile_image
            client-name: kakao

          naver:
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_SECRET}
            redirect-uri: ${BASE_URL}/login/oauth2/code/naver
            authorization-grant-type: authorization_code
            scope: nickname, email, profile_image
            client-name: naver

        provider:
          kakao:
            authorization_uri: https://kauth.kakao.com/oauth/authorize
            token_uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user_name_attribute: id

          naver:
            authorization_uri: https://nid.naver.com/oauth2.0/authorize
            token_uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user_name_attribute: response
          
          
# 곧 삭제 될 예정
oauth:
  kakao:
    client-id: ${KAKAO_CLIENT_ID}
    url:
      auth: https://kauth.kakao.com
      api: https://kapi.kakao.com
  naver:
    client-id: ${NAVER_CLIENT_ID}
    secret: ${NAVER_SECRET}
    url:
      auth: https://nid.naver.com
      api: https://openapi.naver.com
  google:
    client-id: ${GOOGLE_CLIENT_ID}
    secret: ${GOOGLE_SECRET}
    url:
      auth: https://oauth2.googleapis.com
      api: https://www.googleapis.com/oauth2


springdoc:
  swagger-ui:
    doc-expansion: none
    tags-sorter: alpha
    operationsSorter: method
    disable-swagger-default-url: true
    display-request-duration: true
    info:
      title: 하마하마 API Server
      description: 녹음하마 요약하마
      version: 0.0.1

cloud:
  aws:
    s3:
      bucket: p22d105s3
    credentials:
      access-key: ${S3_ACCESSKEY}
      secret-key: ${S3_SECRETKEY}
    region:
      static: ap-northeast-2
      auto: false
    stack:
      auto: false